@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';
@import './utils/placeholders';

@import './base/common.scss';
@import './base/section';
@import './base/container';
@import './components/header';
@import './layout/hero';
@import './layout/section-benefits';
@import './layout/section-total';
@import './components/title-work';
@import './layout/section-team';
@import './components/link-social-network';
@import './layout/section-icom-company.scss';
@import './components/footer';
@import './components/button';
@import './layout/modal';
@import './components/current-studio-portfolio';
@import './layout/portfolio';
