.link-icom-company {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  transition: color var(--transition-dur-and-func);
}

.box-section-company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-social-network);
  border-radius: 4px;
  color: var(--icon-social-network);
  transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--current-color);
    border-color: var(--current-color);
  }
}

.icom-company {
  width: 106px;
  height: 60px;
  /* color: var(--icon-social-network); */
  fill: currentColor;
}
