body {
  font-family: var(--main-font-family);
  font-size: 14px;
  color: var(--main-color);
  letter-spacing: 0.03em;
  background-color: var(--main-light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
